
#nprogress .bar {
  background: #29d; /* Custom color */
}

#nprogress .peg {
  box-shadow: 0 0 20px #29d, 0 0 5px #29d; /* Custom color */
}

#nprogress .spinner-icon {
  border-top-color: #29d;
  border-left-color: #29d;
}